<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='test1.css') }}">
    </head>
    <body>
        <table>
            <tr>
            <td><img src="{{ url_for('static', filename='Logo.png') }}" , width="40px", height="40px"/></td><td><h1>Whage</h1></td>
            </tr>
        </table>
        <form action = "http://localhost:8001/index" method = "post">
            <h1>{{ illness }}</h1>
            <h3>Here are some people that may be able to help:</h3>
            {% if therapist == False%}
            <p class="unknown">Unfortunately we have no doctors for {{ illness }} available.</p>
            {% endif %}
            <ul>
            {% for i in therapists %}
            <li>{{ i }} - {{ therapists[i]['location'] }}<br>{{ therapists[i]['contact'] }}<br></li>
            {% endfor %}
            </ul>
            <p>Please bear in mind that this is not equivalent to a doctor's diagnosis.</p>
            <p><input type = "submit" value = "Go back" name="Go back"/></p>
         </form>
    </body>
</html>