<html>
    <body>
        <form action = "http://localhost:8001/index" method = "post">
            <h1>Welcome to WHAGE. Please press the button below to get started.</h1>
            <p><input type = "submit" value = "Symptom Analysis" name="Symptom Analysis"/></p>
            <p>Are you a healthcare professional who wants to be contacted?</p>
            <p><input type = "submit" value = "I'm a healthcare professional" name="I'm a healthcare professional"/></p>

         </form>
    </body>
</html>