<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='test1.css') }}">
    </head>
    <body>
        <table>
            <tr>
            <td><img src="{{ url_for('static', filename='Logo.png') }}" , width="40px", height="40px"/></td><td><h1>Whage</h1></td>
            </tr>
        </table>
        <form action = "http://localhost:8001/professional" method = "post" >
            <p>Please enter your name</p>
            <p><input type = "text" name = "name"  size="50px"/></p>
            <p>What do you specialize in?</p>
            {% for i in illnesses %}
            <p><input type = "radio" name = "illness" value={{ i }} /> {{ i }}
            {% endfor %}
            <p>Where are you based?</p>
            <p><input type = "text" name = "location" placeholder="e.g. Hammersmith" size="50px"/></p>
            <p>What is your email address?</p>
            <p><input type = "text" name = "contact" placeholder="e.g. someone@example.com" size="50px"/></p>
            <p><input type = "submit" value = "OK" /></p>
         </form>
    </body>
</html>